@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/variable/pretendardvariable.css');
@import "./functions/color";
@import "./functions/button";
@import "./variables/color";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-blue-600 underline;
    }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px !important;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  background-color: #fafafa;
  --topnav-min-height: 4rem;
}
body.modal-opened {
  height: 100vh;
  overflow-y: hidden;
}

.card {
  overflow: initial;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.75rem;
}

h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h3 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h4 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.25rem;
}

h5 {
    font-weight: 500;
    font-size: 1.5rem; /* 24px */
    line-height: 1.67rem;
}

h6 {
    font-weight: 500;
    font-size: 0.94rem; /* 15px */
    line-height: 1.44rem;
}

p {
    font-weight: 400;
    font-size: 0.875rem; /* 14px */
    line-height: 1.375rem; /* 22px */
}

.btn-hover-init:hover {
    background-color: inherit !important;
}

.select.select-bordered {
    border-color: hsl(var(--bc) / var(--tw-border-opacity));
    --tw-border-opacity: 0.2;
}

/**
 * Buttons
 */
.btn {
    & > .btn-icon {
        //@extend .text-xl, .font-bold, .mr-2 !optional;

        //@extend .text-xl;
        font-size: 1.25rem;
        line-height: 1.75rem;

        //@extend .font-bold;
        font-weight: 700;

        //@extend .mr-2;
        margin-right: 0.5rem;
    }

    &-sm > .btn-icon {
        //@extend .text-lg, .font-bold, .mr-1 !optional;

        //@extend .text-lg;
        font-size: 1.125rem;
        line-height: 1.75rem;

        //@extend .font-bold;
        font-weight: 700;

        //@extend .mr-1;
        margin-right: 0.25rem;
    }

    &-big {
        height: 3.5rem;
        min-height: 3.5rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        font-size: 1rem;
    }
}

.keep-all {
  word-break: keep-all;
}

.no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@include makeGenericClassByColorName('scordi', $color-scordi);
@include makeGenericClassByColorName('scordi-light', $color-scordi-light);
@include make_colored_button('scordi');
@include make_colored_button('scordi-light');

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes marquee-reverse {
  0% { left: -100%; }
  100% { left: 0; }
}

.marqueeMoving,
.marqueeMoving-reverse {
  position: absolute;
  overflow: hidden;
  width: 200%;
  display: inline-flex;

  img {
    max-width: 100px;
    max-height: 100px;
  }
}

.marqueeMoving {
  animation: marquee 30s linear 0s infinite;
  &-reverse {
    animation: marquee-reverse 30s linear 0s infinite;
  }
}

@media screen and (max-width: 768px) {
  .marqueeMoving,
  .marqueeMoving-reverse {
    width: 400%;
    img {
      max-width: 100px;
      max-height: 40px;
    }
  }

  .marqueeMoving {
    animation: marquee 10s linear 0s infinite;
    &-reverse {
      animation: marquee-reverse 30s linear 0s infinite;
    }
  }
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scroll-right {
  transition: all 200ms ease;
}

body.hide-channel-talk {
  #ch-plugin {
    display: none !important;
  }
}

.check-circle-container {
  margin-left: auto;;
  margin-right: auto;;

  .svg-success {
    display: inline-block;
    vertical-align: top;
    //height: 300px;
    width: 100%;
    opacity: 1;
    overflow: visible;

    @keyframes success-tick {
      0% {
        stroke-dashoffset: 16px;
        opacity: 1
      }

      100% {
        stroke-dashoffset: 31px;
        opacity: 1
      }
    }

    @keyframes success-circle-outline {
      0% {
        stroke-dashoffset: 72px;
        opacity: 1
      }

      100% {
        stroke-dashoffset: 0px;
        opacity: 1
      }
    }

    @keyframes success-circle-fill {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .success-tick {
      fill: none;
      stroke-width: 1px;
      stroke: #ffffff;
      stroke-dasharray: 15px, 15px;
      stroke-dashoffset: -14px;
      animation: success-tick 450ms ease 1400ms forwards;
      opacity: 0;
    }

    .success-circle-outline {
      fill: none;
      stroke-width: 1px;
      stroke-dasharray: 72px, 72px;
      stroke-dashoffset: 72px;
      animation: success-circle-outline 300ms ease-in-out 800ms forwards;
      opacity: 0;
    }

    .success-circle-fill {
      stroke: none;
      opacity: 0;
      animation: success-circle-fill 300ms ease-out 1100ms forwards;
    }

    // Can't animate stroke-dashoffset on IE 10 and 11, just show svg instead
    @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
      .success-tick {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
        opacity: 1;
      }

      .success-circle-outline {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        animation: none;
        opacity: 1;
      }

      .success-circle-fill {
        animation: none;
        opacity: 1;
      }
    }
  }
}


.swap {
  display: inline-grid;

  ul:not(.active) {
    opacity: 0 !important;
    height: 0;
    overflow-y: hidden;
  }
  ul.active {
    opacity: 1 !important;
  }
}

/**
 * Tags Input
 */

.tags-input-container{
  height: 3rem;
  padding: 0 1rem;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: .5em;
}

.tag-item{
  background-color: rgb(218, 216, 216);
  display: inline-block;
  padding: .25em .75em;
  border-radius: 20px;

  .close{
    height: 20px;
    width: 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
  }
}

.tags-input{
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none;
}

.NewsLetterSection {
  z-index: 0;
  position: relative;

  .card.image-full {
    //height: 500px;
    //max-height: 50vw;
    background-color: #232528;
    position: relative;

    &:before {
      border-radius: 0;
      opacity: 0;
    }
  }

  figure {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
  }

  .title {
    font-weight: 500;
    color: white;
  }
  .subtitle {
    color: white;
    flex-grow: initial;
  }
}


/**
 * 랜딩페이지 2023.11
 */

.main-header-img--base {
  position: relative;
  //top: -1em;
  top: 0;
  left: 0;
}
@keyframes main-header-img {
  from {
    top: .5em;
    left: -1em;
  }
  to {
    @apply main-header-img--base;
  }
}
.main-header-img {
  @apply main-header-img--base;
  //transform-origin: 0 100%;
  //animation: main-header-img auto ease-in-out;
  //animation-timeline: scroll();
  //animation-range: 0 70vh;
}


.main-header-img-left--base {
  bottom: 12em;
  left: -1em;
}
@keyframes main-header-img-left {
  from {
    bottom: 5em;
    left: -1em;
  }
  to {
    @apply main-header-img-left--base;
  }
}
.main-header-img-left {
  @apply main-header-img-left--base;
  transform-origin: 0 100%;
  animation: main-header-img-left auto linear;
  animation-timeline: scroll();
  animation-range: 0 70vh;
}


.main-header-img-right--base {
  top: 15em;
  right: -1em;
}
@keyframes main-header-img-right {
  0% {
    top: 8em;
    right: -1em;
  }
  100% {
    @apply main-header-img-right--base;
  }
}
.main-header-img-right {
  @apply main-header-img-right--base;
  transform-origin: 0 100%;
  animation: main-header-img-right auto linear;
  animation-timeline: scroll();
  animation-range: 0 70vh;
}

.main-header-featured-customers-logo {
  min-width: 200px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    //max-height: 36px;
  }
}

#CollectAppSection {
  $height: 2000px;
  --anim-range-start: 160vh;
  --anim-range-end: calc(200vh + #{$height});

  height: $height;
  //border: 10px dotted #000;
  position: relative;

  visibility: hidden;

  .animation-layer {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-container {

    /**
     * title 1,2 common
     */

    p {
      @apply text-4xl sm:text-5xl;
      letter-spacing: -0.012em;
      line-height: 130%;
      //line-height: 28px;
      font-weight: bold;
      text-align: center;
      visibility: hidden;
      background-color: rgba(255, 255, 255, 0.7);
      box-shadow: 0 0 40px #fff;
    }

    /**
     * title 1
     */

    @keyframes title1 {
      0% {
        opacity: 0;
        visibility: visible;
      }
      5% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      40% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        visibility: visible;
      }
    }

    p:first-child {
      animation: title1 auto linear;
      opacity: 0;
      transform-origin: 0 100%;
      animation-timeline: scroll(nearest block);
      animation-range: var(--anim-range-start) var(--anim-range-end);
    }

    /**
     * title 2
     */

    @keyframes title2 {
      0% {
        opacity: 0;
        transform: translateY(0);
        visibility: visible;
      }
      25% {
        opacity: 0;
        transform: translateY(0);
        visibility: visible;
      }
      40% {
        opacity: 1;
        transform: translateY(-3rem);
        visibility: visible;
      }
      75% { opacity: 1 }
      90% {
        opacity: 0;
      }
      100% {
        opacity: 0;
        transform: translateY(-3rem);
        visibility: visible;
      }
    }

    p:last-child {
      transform: translateY(-3rem);
      animation: title2 auto linear;
      opacity: 0;
      transform-origin: 0 100%;
      animation-timeline: scroll(nearest block);
      animation-range: var(--anim-range-start) var(--anim-range-end);
    }
  }

  .logo-container {

    @keyframes logo-collecting {
      0% {
        opacity: 0;
        visibility: visible;
      }
      5% {
        opacity: 1;
        top: var(--logo-collecting-top);
        right: var(--logo-collecting-right);
        bottom: var(--logo-collecting-bottom);
        left: var(--logo-collecting-left);
      }
      20% {}
      50% {
        opacity: 0;
      }
      60% {
        opacity: 0;
        visibility: visible;
      }
      100% {
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        visibility: hidden;
      }
    }

    .logo {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transform: translateY(3rem);

      $square-size: 150px;
      & > div {
        min-width: $square-size;
        min-height: $square-size;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      animation: logo-collecting auto linear;
      transform-origin: 0 100%;
      animation-timeline: scroll(nearest block);
      animation-range: var(--anim-range-start) var(--anim-range-end);

      $x-size: calc(25% - (#{$square-size} / 2));
      $y-size: calc(33.3% - (#{$square-size} / 2));
      top: var(--logo-collecting-top);
      right: var(--logo-collecting-right);
      bottom: var(--logo-collecting-bottom);
      left: var(--logo-collecting-left);
      --logo-collecting-x: #{$x-size};
      --logo-collecting-y: #{$y-size};

      &:nth-child(1) {
        --logo-collecting-top: 0;
        --logo-collecting-right: initial;
        --logo-collecting-bottom: initial;
        --logo-collecting-left: initial;
      }
      &:nth-child(2) {
        --logo-collecting-top: #{$y-size};
        --logo-collecting-right: #{$x-size};
        --logo-collecting-bottom: initial;
        --logo-collecting-left: initial;
      }
      &:nth-child(3) {
        --logo-collecting-top: initial;
        --logo-collecting-right: #{$x-size};
        --logo-collecting-bottom: #{$y-size};
        --logo-collecting-left: initial;
      }
      &:nth-child(4) {
        --logo-collecting-top: initial;
        --logo-collecting-right: initial;
        --logo-collecting-bottom: 0;
        --logo-collecting-left: initial;
      }
      &:nth-child(5) {
        --logo-collecting-top: initial;
        --logo-collecting-right: initial;
        --logo-collecting-bottom: #{$y-size};
        --logo-collecting-left: #{$x-size};
      }
      &:nth-child(6) {
        --logo-collecting-top: #{$y-size};
        --logo-collecting-right: initial;
        --logo-collecting-bottom: initial;
        --logo-collecting-left: #{$x-size};
      }
    }
  }

  .bg-container {

    //@keyframes logo-background {
    //  0% {
    //    opacity: 0;
    //  }
    //  10% {
    //    opacity: 0;
    //  }
    //  40% {
    //    opacity: 1;
    //  }
    //  75% {
    //    opacity: 1;
    //  }
    //  80% {
    //    opacity: 0;
    //  }
    //  100% {
    //    opacity: 0;
    //  }
    //}

    .background {
      //width: 100%;
      //height: 100%;
      ////opacity: 0;
      //background-repeat: no-repeat;
      //background-position: center;
      //background-size: contain;
      //transform: translateY(3rem);

      //animation: logo-background auto linear;
      //transform-origin: 0 100%;
      //animation-timeline: scroll(nearest block);
      //animation-range: var(--anim-range-start) var(--anim-range-end);

      //display: flex;
      //align-items: center;
      //justify-content: center;

      & > div {
        //$scordi-size: 150px;
        //width: $scordi-size;
        //height: $scordi-size;
        //background-position: center;
        //background-size: contain;
        //background-repeat: no-repeat;
      }
    }
  }
}

#faq-list {
  @apply max-w-screen-md mx-auto;

  & > li {
    cursor: pointer;
    padding: 40px 0;
    border-bottom: 1px solid;

    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;

      .question {
        //margin-right: auto;
        @apply text-lg sm:text-xl md:text-2xl font-semibold;
      }

      .icon-wrapper {
        transition: all 250ms ease-in-out;
      }
    }

    .answer-wrapper {
      overflow: hidden;
      max-height: 0;
      transition: all 500ms ease-in-out;

      pre {
        padding-top: 40px;
        font-family: inherit;
        white-space: pre-line;
        word-break: keep-all;
        opacity: .8;
        line-height: 1.6 !important;
        @apply text-lg;
      }
    }

    input[type=checkbox] {
      &:not(:checked) {
        & + label .icon-wrapper {
          transform: rotate(225deg);
        }

        & ~ .answer-wrapper {
          max-height: 1000px;
        }
      }
    }
  }
}

.whattime-inline-widget {
  height: 690px;

  @media screen and (max-width: 1024px) {
    height: 970px;
  }

  @media screen and (max-width: 768px) {
    height: 900px;
  }

  @media screen and (max-width: 375px) {
    height: 800px;
  }
}


@keyframes logo-background {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.logo-background-blurred {
  $height: 2000px;
  --anim-range-start: 160vh;
  --anim-range-end: calc(200vh + #{$height});

  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transform: translateY(3rem);

  opacity: 0;
  animation: logo-background auto linear;
  transform-origin: 0 100%;
  animation-timeline: scroll(nearest block);
  animation-range: var(--anim-range-start) var(--anim-range-end);

  .logo-background-scordi {
    $scordi-size: 150px;
    width: $scordi-size;
    height: $scordi-size;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.absolute-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/**
 * Browser specific
 */
body {
  @each $browser-name in ('chrome', 'safari', 'firefox', 'kakaoWebview', 'naverWebview', 'whale', 'edge', 'ie', 'etc') {
    &.browser--#{$browser-name} {
      .#{$browser-name}-hidden {
        display: none !important;
      }
    }
  }
}

progress::-webkit-progress-value,
progress::-moz-progress-bar {
  transition: width 200ms ease;
}


/**
 * dropdown
 */
#dropdown-portal {
  .dropdown-backdrop.focus {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
  }

  .dropdown-content {
    visibility: hidden;
    position: absolute;
    z-index: 50;
    opacity: 0;
    transform-origin: top;
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dropdown-content.focus,
  .dropdown-content:has(input.focus) {
    visibility: visible;
    opacity: 1;
  }
}
