
/**
 * Modal Right
 */
.modal-open.modal-right .modal-box {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.modal-right {
  justify-content: end;

  :where(.modal-box) {
    max-height: none;
    height: 100%;
    width: 100%;
    max-width: none;
    border-radius: 0;
  }
}
