
[data-component="TitleSectionCollapse"].collapse2 {
  &.opened .collapse-content2 {
    height: 146px;
    padding: 1rem 0 0;
  }

  .collapse-content2 {
    overflow: hidden;
    height: 0;
    padding: 0;
    transition: all 200ms ease;
  }

  .collapse-trigger {
    display: flex;
    align-items: center;
    padding: 0 3px;

    .collapse-icon {
      transition: all 200ms ease;
    }
  }

  &.opened .collapse-trigger .collapse-icon {
    transform: rotate(180deg);
  }
}

.input-underline {
  // 기존 스타일 초기화
  --tw-bg-opacity: 0.05;
  outline: none !important;
  position: relative;

  $height: 1.5px;
  $speed: 150ms;
  $inactive-color: #d3d3d3;
  $active-color: #0070f3;

  & + span {
    display: block;
    height: $height;
    background-color: #{$inactive-color};
    width: 100%;

    &:after {
      content: '';
      display: block;
      height: $height;
      background-color: #{$active-color};
      width: 0;
      transition: width #{$speed} ease;
    }
  }

  &:focus {
    // 기존 스타일 초기화
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    color: hsl(var(--bc) / var(--tw-text-opacity));

    & + span {
      &:after {
        width: 100%;
      }
    }
  }
}

.sidebar {
  transition: width 200ms ease;
  &.inactive {
    width: 0rem;
  }
}
